*.fancyNav li{        
        width: 20%;	
	position:relative;
	float: left;
	list-style: none;
        
	background-image: -webkit-gradient(linear,left top, left bottom, from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #badbf1 50%, #87c0e7 51%); /*corbotão* 0/partesuperior/parteinferior*/
	
        box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

}

.fancyNav li:after{
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/*tranparenciasbotões*/
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(14,36,235,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(81,97,244,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(14,36,235,0.5), rgba(14,36,235,0.5) 50%, rgba(14,36,235,0.5));
	
	
	box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff,1px 0 0 #54a6de,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff,1px 0 0 #54a6de,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff,1px 0 0 #54a6de,2px 0 0 #fff;
	
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
        width: 20%;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #54a6de,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #54a6de,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #54a6de,2px 0 0 #fff;
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}


.fancyNav li:last-child:after,

.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #54a6de,-2px 0 0 #fff;
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/*formato e fontes dos links*/
.fancyNav li a{
	color: #5d5d5d;
	display: block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 3px;
        padding-bottom: 5px;
        padding-top: 5px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
        width: 100%;
}

/*icone*/ .fancyNav a.homeIcon{
	background:url('../images/home.png') no-repeat center center;
	display: block;         
	overflow: hidden;
	padding-left: 70px;
	padding-right: 50px;
	text-indent: -9999px;
        width: 65px;
}

nav{                //tamanho dos menus
	display: block;
	text-align: center;
	width: 1000px;
}